<div class="container">
  <h1><%= @user.name %>'s Profile:</h1>
  <h3>Name: <%= @user.name %></h3>
  <h3>E-Mail: <%= @user.email %></h3>
  <h3>About Me: <%= @user.oneliner %></h3>
  <h3>Location: <%= @user.location %></h3>

  <% if @followers.any? %>
    <% @followers.each do |follower| %>
    <h5><%= follower.username %></h5>
    <% end %>
  <% else %>
    <h5>No one cares about you.</h5>
  <% end %>

  <% unless current_user == @user %>
    <% unless following?(@user) %>
      <form action="/<%=@user.username %>" method="post">
        <input type="submit" value="+ Follow">
      </form>
    <% else %>
      <form action="/<%=@user.username %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Unfollow">
      </form>
    <% end %>
  <% end %>
  <br>
  <a href="/<%=@user.username %>/following">Following</a>

  <a href="/<%=@user.username %>/followers">Followers</a>

  <a href="/<%=@user.username %>/favorites">Favorites</a>
</div>