<h1><%= @user.name %>'s Profile:</h1>
<h3>Name: <%= @user.name %></h3>
<h3>E-Mail: <%= @user.email %></h3>
<h3>About Me: <%= @user.oneliner %></h3>
<h3>Location: <%= @user.location %></h3>

<% if @user.follows %>
  <% @user.follows.each do |follow| %>
  <h5><%= following(follow).username %></h5>
  <% end %>
<% else %>
  <h5>Aint following no body</h5>
<% end %>

<% unless current_user == @user %>
  <% unless following?(@user) %>
    <form action="/<%=@user.username %>" method="post">
      <input type="submit" value="+ Follow">
    </form>
  <% end %>
<% end %>
<br>
<a href="/<%=@user.username %>/following">Following</a>

<a href="/<%=@user.username %>/followers">Followers</a>