<div class="container">
  <h1>Welcome to Glitter!</h1>
</div>

<body>
  <h3 class="message"><%= session[:message] %></h3>
  <%if session[:user_id]==nil %>

<div class="container">
  <div class="content">
    <form id="login" action="/" method="post">
      <h3> Log in below: </h3>
      <input type="text" name="username" placeholder="username">
      <br>
      <input type="password" name="password" placeholder="password">
      <br>
      <input type="submit" value="Login">
    </form>
  </div>
</div>
    <div class="container">
      <h1><a href="/create">Create New Account</a></h1>
    </div>
  <%else%>
  <% if @user.follows.any? %>
  <div class="container">
    <h3> Your twitter feed </h3>
    <% @sorted_feed.each do |tweet| %>
    <a href="/<%= tweet.user.username%>"><img src='<%= tweet.user.gravatar_url %>' id="gravatar"></a>
    <a href="/<%= tweet.user.username%>"><%= tweet.user.username%>: </a>
    <%= tweet.content%>
    <%= tweet.created_at%>
    <br>
    <% end %>
  </div>
  <% end %>
  <div class="container">
    <a href="/<%=@user.username %>">Profile</a>
  </div>
  <%end%>