<h1><%= @user.name %>'s Profile:</h1>
<h3>Name: <%= @user.name %></h3>
<h3>E-Mail: <%= @user.email %></h3>
<h3>About Me: <%= @user.oneliner %></h3>
<h3>Location: <%= @user.location %></h3>

<% if @user.tweets %>
  <% @user.tweets.each do |tweet| %>
  <h5><%= tweet.content %></h5>
  <h7><%= tweet.updated_at %></h7>
  <% end %>
<% else %>
  <h5>You have no tweets</h5>
<% end %>


<a href="/<%=@user.name %>/following">Following</a>

<a href="/<%=@user.name %>/follows">Followers</a>