  <div class="container">
    <h1>Enter your information below:</h1>
  <form action="/update" method="post">
    <input type="hidden" name="_method" value="put">
    <br>
    <% user=User.find(session[:user_id]) %>
    <p>Name</p>
    <label class="label" for="name"></label>
    <input type="text" name="user[name]" value="<%= user.name %>">
    <br>
    <p>Username</p>
    <label class="label" for="username"></label>
    <input type="text" name="user[username]" value="<%= user.username%>">
    <br>
    <p>Password</p>
    <label class="label" for="password"></label>
    <input type="password" name="user[password]" value="<%= user.password%>">
    <br>
    <p>Email</p>
    <label class="label" for="email"></label>
    <input type="text" name="user[email]" value="<%= user.email%>">
    <br>
    <p>Location</p>
    <label class="label" for="location"></label>
    <input type="text" name="user[location]" value="<%= user.location%>">
    <br>
    <p>About You</p>
    <label class="label" for="oneliner"></label>
    <input type="text" name="user[oneliner]" value="<%= user.oneliner %>">
    <br>
    <br>
    <input type="submit" value="Update!">
  </form>
</div>